.main{
    width: 100%;
}

/* nav바 */
.nav{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
    padding-bottom: 5px;
}
.nav_inner{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
}
.nav_inner a{
    line-height: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_inner a img{
    width: 36px;
    height: 36px;
}
.nav_inner a:hover{
    color: #8e43e7;
    border-bottom: 2px solid #8e43e7;
}
.f_color{
    color: #8e43e7;    
}




.sec{
    max-width: 1280px;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0px 10px;

}
.sec_inner{
    width: 100%;
    display: flex;
}

.show_box{
    width: 67%;
    display: flex;
    gap: 30px;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    float: left;
}
.show_title{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}
.show_txt_box{
    display: flex;
    flex-direction: column;
}
.show_img{
    width: 300px;
    height: 400px;
    background: url(../img/musical/musical_1.gif) no-repeat center center / cover;
    border-radius: 10px;
}
.show_txt{
    width: 100%;
    margin-bottom: 10px;
}
.show_price_box{
    display: flex;
    gap: 5px;
}
.price_box_inner{
    display: flex;
    flex-direction: column;
}
.txt_title{
    font-size: 15px;
    width: 75px;
    display: inline-block;
    font-weight: 600;
    margin-right: 15px;
}
.txt_sub{
    font-size: 17px;
    font-weight: 500;
}
.price_num{
    font-weight: 600;
}

/* 설명서 */
.show_manual_box{
    width: 67%;
    margin-top: 20px;
    float: left;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px gray;
    box-sizing: border-box;
    overflow: hidden;
}
.manual_opt_box{
    display: flex;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid rgb(142, 67, 231);
}
.manual_opt_box p:nth-child(1){
    font-weight: 600;
    color: white;
    background-color: #8e43e7;

}
.manual_txt{
    width: 100%;
    font-size: 18px;
    margin: 0;
    height: 60px;
    line-height: 60px;
}
.m_pan{
    width: 100%;
    display: none;
    box-sizing: border-box;
}
.show_info_pan{
    display: block;
}
.m_img_box{
    width: 100%;
}
.show_info_pan .m_img_box:nth-child(1){
    background: url(../img/manual/manual_1.jpg) no-repeat center center / cover;
    padding-bottom: 250%;
}
.show_info_pan .m_img_box:nth-child(2){
    margin-top: 20px;
    background: url(../img/manual/manual_2.jpg) no-repeat center center / cover;
    padding-bottom: 223%;
}
.casting_pan_inner{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 10px;
}
.casting_txt_box{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    margin-top: 20px;
}
.casting_txt_box p{
    margin: 0;
    font-size: 13px;
}
.casting_txt_box p:nth-child(1){
    margin: 0;
    font-weight: 600;
}
.casting_box{
    width: calc((100% - (30px*5)) / 6);
    text-align: center;
}
.people_name{
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.casting_img_box{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    border-radius: 50%;
    border: 10px;
    overflow: hidden;
    border: 1px solid rgb(179, 177, 177);
    
}
.casting_img_box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 공지사항 판 */
.notice_pan{
    box-sizing: border-box;
    padding: 10px;
}
.notice_list{
    width: 100%;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding: 0px 10px;
}
.notice_list:hover{
    cursor: pointer;
}
.total_list{
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding: 0px 5px 10px 5px;
    font-size: 16px;
}
.total_num{
    margin: 0px 2px 0px 5px;
}
.notice_list_inner{
    display: flex;
    justify-content: space-between;
}
.notice_list_inner span{
    line-height: 30px;
}
.notice_people{
    margin-right: 10px;
}
.notice_date{
    font-size: 13px;
}
.notice_title{
    font-weight: 600;
}

.notice_content{
    border-top: 1px solid black;
    width: 100%;
    display: none;
    font-size: 13px;
    font-weight: 600;
}
.notice_block{
    display: block;
}
/* 우측 예매 박스 */
.box_logo{
    justify-content: center;
}
.pos_box{
    width: 30%;
    height: 100%;
    float: right;
}
.form_box{
    position: sticky;
    top: 10px;
    width: 100%;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.form_inner{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-radius: 5px;
}
.box_title{
    margin: 5px 0px;
    font-weight: 600;
    text-align: left;
}
.sit_box_outer{
    margin: auto;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
    box-sizing: border-box;
    overflow-x: scroll;
}
/*스크롤 커스텀 */
.sit_box_outer::-webkit-scrollbar, 
textarea::-webkit-scrollbar{
    height: 10px;
}
.sit_box_outer::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background: rgb(142, 67, 231);
    border-radius: 5px;
}
.sit_box_outer::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track{
    background: rgba(142, 67, 231, 0.1); 
}
.time_box{
    margin: 5px 0px;
}
.sit_box{
    border: 1px solid black;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: relative;
}
.sit_box:hover{
    cursor: pointer;
}
.sit{
    display: none;
}
.sit_line{
    display: flex;
    float: left;
    gap: 5px;
    margin-bottom: 5px;
}
.label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background-color: gray;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    color: white;
}
.sit_class{
    width: 30px;
    height: 30px;
    margin: 0;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}
.VIP_color{
    background-color: #8e43e7;
}
.R_color{
    background-color: rgb(205, 51, 51);
}
.S_color{
    background-color: rgb(215, 121, 0);
}
.A_color{
    background-color: rgb(215, 182, 0);
}
.B_color{
    background-color: rgb(109, 149, 33);
}
.price_box{
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    margin: 5px 0px;
}
.total_price_span{
    font-size: 18px;
    margin: 0px 2px 0px 4px;
}
.payment_btn{
    display: block;
    margin: auto;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #8e43e7;
    color: white;
    font-weight: 600;
    font-size: 16px;
    
}
.payment_btn:hover{
    cursor: pointer;
}
.payment_btn:active{
    background-color: rgba(142, 67, 231, 0.7);
}
/* 날짜 시간 */
.show_time_input{
    display: none;
}
.time_title{
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 600;
}
input[type='date'] {
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid #8e43e7;
    font-weight: 600;
} 


@media screen and (max-width:1024px) {
    /* 반응형 때 아이콘 */
    .respnsive_block{
        display: block;
    }
    /* nav바 */
    .nav_inner{
        box-sizing: border-box;
        padding: 0px 10px;
        gap: 20px;
        font-size: 15px;
    }
    /* 아이콘 공간 */
    .main{
        padding-top: 60px;
    }
    
    /* 화면 맞춤 */
    .show_box,
    .show_manual_box,
    .pos_box{
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    .show_manual_box{
        
    }

    /* sticky 해제 */
    .pos_box{
        position: static;
    }

    /* 결제 버튼 크기 */
    .payment_btn {
        width: 200px;
        height: 45px;
    }
}
@media screen and (max-width:768px) {
    /* nav 바 */
      .nav_inner{
        gap: 10px;
        font-size: 15px;
    }
    .nav_inner a{
        width: calc((100% - (10px*4))/5);
    }

    /* 영화 예매 이미지 */
    .show_img{
        width: 43%;
        height: 0px;
        padding-bottom: 58%;
    }

    /* 영화제목 */
    .show_title{
        font-size: 3vw;
        margin-bottom: 5px;
    }

    /* 영화정보 감싸고 있는 박스 */
    .show_txt{
        margin-bottom: 5px;
    }

    /* 장소 공연기간 등등... */
    .txt_title{
        width: 60px;
        font-size: 2.1vw;
    }
    /* 좌석별 가격 폰트 */
    .txt_sub,
    .info_pirce span{
        font-size: 2.5vw;
    }

    /* 결제 버튼 */
    .payment_btn {
        width: 150px;
        height: 40px;
    }
    
    /* 설명서 선택 폰트 크기 */
    .manual_txt{
        font-size: 16px;
        height: 55px;
        line-height: 55px;
    }

    .casting_pan_inner{
        gap: 20px;
        padding: 20px 10px;
    }
    .casting_box{
        width: calc((100% - (20px*4)) / 5);
        text-align: center;
    }

    /* 공지사항 글자 */
    .notice_title{
        font-size: 14px;
    }
    .notice_people{
        font-size: 13px;
    }
    .notice_date{
        font-size: 11px;
    }
    .notice_content p{
        /* font-size: 11px; */
    }
    .total_list{
        font-size: 15px;
    }
    .total_num{
        margin: 0px 1px 0px 5px;
    }
}
@media screen and (max-width:480px) {
    /* sec 영역 */
    .sec {
        box-sizing: border-box;
        padding: 10px 10px 0px 10px;
        margin-top: 0px;
    }
    .nav_inner{
        gap: 0;
        font-size: 2.7vw;
    }
    .nav_inner a{
        width: calc((100% - (10px*4))/5);
        line-height: normal;
    }
    /* nav 아이콘*/
    .svg_icon{
        width: 30px;
        height: 30px;
    }


    .show_txt_box{
        width: 100%;
    }
    .show_txt{
        width: 80%;
        margin: auto;
        margin-bottom: 1.5%;
    }
    .show_box{
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding-top: 10px;
    }
    .show_img{
        width: 80%;
        padding-bottom: 107%;
    }
    .show_title{
        font-size: 5vw;
        text-align: center;
        margin-bottom: 10px;
    }
    .txt_title{
        width: 60px;
        font-size: 3vw;
        width: 17%;
    }
    .txt_sub,
    .info_pirce span{
        font-size: 3.5vw;
    }
    /* 시간대 선택 */
    .time_title{
        margin-bottom: 2px;
    }
    /* 결제 금액 폰트 */
    .price_box span{
        font-size: 13px;
    }
    .price_box .total_price_span{
        font-size: 16px;
    }
    /* 결제버튼 */
    .payment_btn {
        width: 100px;
        height: 35px;
        font-size: 13px;
    }

    /* 설명서 선택 폰트 크기 */
    .manual_txt{
        font-size: 13px;
        height: 50px;
        line-height: 50px;
    }

    .casting_pan_inner{
        gap: 20px;
    }
    .casting_box{
        width: calc((100% - (20px*3)) / 4);
        text-align: center;
    }
    .people_name{
        font-size: 13px;
    }

    /* 공지사항 글자 */
    .notice_title{
        font-size: 12px;
    }
    .notice_people{
        font-size: 10px;
    }
    .notice_date{
        font-size: 8px;
    }
    .notice_content p{
        font-size: 9px;
    }
    .total_list{
        font-size: 13px;
    }
    .total_num{
        margin: 0px 1px 0px 5px;
    }
}